<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title><%= details.fullName %>'s Profile</title>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="profile.css">
    <title>Document</title>
    <style>
        .polaroid {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="sticker.png" width="200" height="35"></a>

        <div id="navbarSupportedContent" style="position: absolute;right:20px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown mr-2">
                    <a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img class="polaroid" src="<%= details.profilePic %>" width="50" height="50" style="border-radius: 50%;">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute;left:-90px;">
                        <a class="dropdown-item" href="/settings">Settings</a>
                        <a class="dropdown-item" href="/log-out">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col-2" style="margin-left: 70px;"><img class="polaroid" src="<%= details.profilePic %>" width="200" height="200"
                    style="border-radius: 50%;"></div>
            <div class="col-4">
                <h1><%= details.userName %></h1>
                <h3>Email : <%= details.email %></h3>
                <h5>FullName : <%= details.fullName %></h5>
            </div>
            <div class="col-4" style="margin-left:10%;">
                <span style="position: absolute;right:0px">
                    <form action="/showfollowers" method="POST">
                        <button type="submit" class="btn btn-primary"
                            style="display: block;border-bottom-right-radius: 0;border-bottom-left-radius: 0;width:100%;">
                            Followers <span class="badge badge-light"><%= details.followers.length %></span>
                        </button>
                    </form>
                    <form action="/showfollowing" method="POST">
                        <button type="submit" class="btn btn-primary"
                            style="border-top-right-radius: 0;border-top-left-radius: 0;width:100%;">
                            Following <span class="badge badge-light"><%= details.following.length %></span>
                        </button>
                    </form>
                </span>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Create New List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="showAlert">

                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="lstName" placeholder="Enter The Name Of The List">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>


    <center>
        <div class="btn-group">
            <form action="/searchanime" method="get">
                <button class="btn btn-outline-primary" type="submit"
                    style="border-top-right-radius: 0;border-bottom-right-radius: 0;">Search Anime</button>
            </form>
            <form action="/search-user" method="get">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 0;">Search User</button>
            </form>
            <form action="/showlist" method="get">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 0;">Show
                    List</button>
            </form>
            <form action="/deletelist" method="get">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 0;">Delete
                    List</button>
            </form>
            <form action="/editlist" method="get">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 0;">Edit
                    List</button>
            </form>
            <button class="btn btn-outline-primary" type="button" onclick="showModal()"
                style="border-top-left-radius: 0;border-bottom-left-radius: 0;">Add List</button>
        </div>
    </center>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script>
        function showModal() {
            //console.log("clicked");
            $("#exampleModalCenter").modal("show");
        }

        $("#save").click(function () {
            //console.log($("#lstName").val());
            var lst = $("#lstName").val();
            //console.log(lst);
            if (lst == "")
                $("#showAlert").html(`<div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Please Enter The Name of List
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>`);
            else {
                //console.log("clicked");
                $.post("/create-list", {
                    listID: lst
                }, function (data,status) {
                    console.log(data.message);
                    if(data.message=="Already Exists")
                    $("#showAlert").html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                            List Already Exists
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>`);

                    if(data.message=="Updated")
                    {
                        $("#showAlert").html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
                            List Created
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>`);
                        setTimeout(function(){ $('#exampleModalCenter').modal('hide'); }, 2000);
                    }
                });
            }
        });
    </script>
</body>

</html>